Client/Service References/FacadeServiceReference/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ServerFacade" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ServerFacade" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfPersonComplete">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PersonComplete" nillable="true" type="tns:PersonComplete" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPersonComplete" nillable="true" type="tns:ArrayOfPersonComplete" />
  <xs:complexType name="PersonComplete">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Money" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sex" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PersonComplete" nillable="true" type="tns:PersonComplete" />
</xs:schema>