ServerFacade/Service References/SexServiceReference/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SexService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SexService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfSex">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Sex" nillable="true" type="tns:Sex" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSex" nillable="true" type="tns:ArrayOfSex" />
  <xs:complexType name="Sex">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Sex" nillable="true" type="tns:Sex" />
</xs:schema>