ServerFacade/Service References/SexServiceReference/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:63525/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SexService" />
  <xs:element name="GetSexData">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSexDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SexService" minOccurs="0" name="GetSexDataResult" nillable="true" type="q1:ArrayOfSex" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>